<div mat-dialog-content fxlayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" *ngIf="qrUrl$ | async as qrUrl" f>

    <div fxLayout="column" fxLayoutGap="10px">

        <mat-form-field class="example-form-field" *ngIf="data.text === 'checkin'">
            <mat-label>Tischnummer</mat-label>
            <input matInput type="number" #tableinput  (keyup)="setTableNumber(tableinput.value)">
        </mat-form-field>



        <button mat-flat-button color="accent" (click)="download()">download</button>
    </div>
    <canvas #canvas width="400" height="566"></canvas>
</div>
