<div fxLayout="column" fxFill fxLayoutGap="10px">

    <mat-toolbar color="primary">
        <span>QR-Code Generierung</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="close-button" (click)="close()">
            <mat-icon class="close-icon">close</mat-icon>
        </button>
    </mat-toolbar>

    <div *ngIf="qrUrl$ | async as qrUrl" fxflex="column" fxFlex fxLayoutGap="10px" class="scrollable">


        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            <div *ngIf="data.text === 'checkin'">
                <mat-checkbox [(ngModel)]="tableEnabled" style="margin-right: 10px;"
                              (change)="tableCheckboxChanged()"></mat-checkbox>
                <mat-form-field>
                    <mat-label>{{data.type}}nummer</mat-label>
                    <input matInput type="text" #tableInput [disabled]="!(isLoaded$ | async) || !tableEnabled"
                           [(ngModel)]="tableNr" (input)="setTableNumber(tableInput.value)">
                </mat-form-field>
            </div>
            <div style="padding-bottom: 8px">
                <button mat-flat-button color="accent" (click)="download()">Download</button>
            </div>

        </div>

        <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="10px">

            <canvas #canvas width="400" height="566"></canvas>
        </div>

    </div>

</div>



