<div fxFill fxLayoutGap="10px"  fxLayout="column">

    <app-spinner [data$]="partner$"></app-spinner>

    <div fxLayout="row" fxFlex fxLayoutGap="10px" *ngIf="partner$ | async as partner">



        <div class="mat-elevation-z8" fxFlex fxLayout="column">
            <mat-toolbar>
                <span>{{'context.location' | translate}}</span>
                <span class="example-spacer"></span>
                <button mat-icon-button (click)="openAddDialog()" matTooltip="Registrieren">
                    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">add</mat-icon>
                </button>
            </mat-toolbar>
            <div *ngIf="partner.locations?.length == 0" style="height: 100%; text-align: center; padding:  10px;">
                <p style="margin-bottom: 30px;">Es wurde noch kein Standrot hinzugefügt.</p>
                <div (click)="openAddDialog()">
                    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">add</mat-icon>
                    <p style="margin: 0px">Hinzufügen</p>
                </div>
            </div>
            <div fxFlex *ngIf="partner.locations?.length > 0">
                <div *ngIf="!!partner.locations || partner.locations?.length > 0" class="example-container" fxFlex>
                    <mat-table  [dataSource]="partner.locations" fxFlex>
                        <!-- Name Column -->
                        <ng-container matColumnDef="Name">
                            <mat-header-cell *matHeaderCellDef> {{'location.name' | translate}}</mat-header-cell>
                            <mat-cell  *matCellDef="let element" [class.disabled-cell]="!element.active" > {{element.name}} </mat-cell>
                        </ng-container>

                        <!-- Delete Column -->
                        <ng-container matColumnDef="Entries">
                            <mat-header-cell *matHeaderCellDef>{{'location.entries' | translate}}</mat-header-cell>
                            <mat-cell [class.disabled-cell]="!element.active" *matCellDef="let element">
                                <button mat-raised-button color="primary" (click)="selectBar(element)">
                                    {{'location.entries' | translate}}
                                </button>

                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="QRCodes">
                            <mat-header-cell *matHeaderCellDef>{{'location.qrcode' | translate}}</mat-header-cell>
                            <mat-cell [class.disabled-cell]="!element.active" *matCellDef="let element">
                                <button mat-raised-button color="primary"
                                        (click)="openQRCodeDialog(element)" [disabled]="!element.active">
                                    <mat-icon>qr_code_2</mat-icon>
                                </button>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="Delete">
                            <mat-header-cell  *matHeaderCellDef></mat-header-cell>
                            <mat-cell [class.disabled-cell]="!element.active" *matCellDef="let element">
                                <button mat-raised-button color="warn" (click)="openConfirmDialog(element)" *ngIf="element.active">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                <button mat-raised-button color="warn" (click)="openConfirmDialog(element)" *ngIf="!element.active">
                                    <mat-icon>rotate_right</mat-icon>
                                </button>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row  *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                        <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>

                </div>
            </div>
        </div>

    </div>
</div>
