<div fxFill fxLayoutGap="10px" fxLayout="column">

    <app-spinner [data$]="partner$"></app-spinner>

    <div fxLayout="row" fxFlex fxLayoutGap="10px" *ngIf="partner$ | async as partner">


        <div class="mat-elevation-z8 " fxFlex fxLayout="column">
            <mat-toolbar>
                <span>{{'context.location' | translate}}</span>
                <span class="example-spacer"></span>
                <button mat-icon-button (click)="openAddDialog()" matTooltip="Registrieren">
                    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">add</mat-icon>
                </button>
            </mat-toolbar>
            <div *ngIf="partner.locations?.length == 0" style="height: 100%; text-align: center; padding:  10px;">
                <p style="margin-bottom: 30px;">Es wurde noch kein Standrot hinzugefügt.</p>
                <div (click)="openAddDialog()">
                    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">add</mat-icon>
                    <p style="margin: 0px">Hinzufügen</p>
                </div>
            </div>
            <div fxFlex class="scrollable" *ngIf="partner.locations?.length > 0">
                <div *ngIf="!!partner.locations || partner.locations?.length > 0" class="example-container" fxFlex>
                    <mat-table [dataSource]="partner.locations" fxFlex>
                        <!-- Name Column -->
                        <ng-container matColumnDef="Name">
                            <mat-header-cell *matHeaderCellDef> {{'location.name' | translate}}</mat-header-cell>
                            <mat-cell *matCellDef="let element" [class.disabled-cell]="!element.active">
                                <div fxLayout="column">
                                    <span>{{element.name}} </span>
                                    <span *ngIf="!element.active">{{'context.deletedAt' | translate}} {{element.timeToLive * 1000 | date: 'medium'}}</span>
                                </div>

                            </mat-cell>
                        </ng-container>

                        <!-- Action Column -->
                        <ng-container matColumnDef="Action">
                            <mat-header-cell fxLayoutAlign="end center" *matHeaderCellDef>{{'context.action' | translate}}</mat-header-cell>
                            <mat-cell fxLayoutAlign="end center" [class.disabled-cell]="!element.active" *matCellDef="let element">

                                <button mat-icon-button [matMenuTriggerFor]="menu"
                                        aria-label="Example icon-button with a menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu" xPosition="before">
                                    <button mat-menu-item (click)="selectBar(element)">
                                        <mat-icon>meeting_room</mat-icon>
                                        <span>{{'location.entries' | translate}}</span>
                                    </button>
                                    <button mat-menu-item (click)="openQRCodeDialog(element)" [disabled]="!element.active">
                                        <mat-icon>qr_code_2</mat-icon>
                                        <span>{{'location.qrcode' | translate}}</span>
                                    </button>
                                    <button *ngIf="element.active" mat-menu-item  (click)="openConfirmDialog(element)">
                                        <mat-icon>delete</mat-icon>
                                        <span>{{'context.active' | translate}}</span>
                                    </button>
                                    <button *ngIf="!element.active" mat-menu-item  (click)="openConfirmDialogActive(element)">
                                        <mat-icon>rotate_right</mat-icon>
                                        <span>{{'context.deactive' | translate}}</span>
                                    </button>
                                </mat-menu>

                            </mat-cell>
                        </ng-container>


                        <!-- Delete Column -->
                        <ng-container matColumnDef="Entries">
                            <mat-header-cell *matHeaderCellDef>{{'location.entries' | translate}}</mat-header-cell>
                            <mat-cell [class.disabled-cell]="!element.active" *matCellDef="let element">
                                <button mat-raised-button color="primary" (click)="selectBar(element)">
                                    {{'location.entries' | translate}}
                                </button>

                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="QRCodes">
                            <mat-header-cell *matHeaderCellDef>{{'location.qrcode' | translate}}</mat-header-cell>
                            <mat-cell [class.disabled-cell]="!element.active" *matCellDef="let element">
                                <button mat-raised-button color="primary"
                                        (click)="openQRCodeDialog(element)" [disabled]="!element.active">
                                    <mat-icon>qr_code_2</mat-icon>
                                </button>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="Delete">
                            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                            <mat-cell [class.disabled-cell]="!element.active" *matCellDef="let element">
                                <button mat-raised-button color="warn" (click)="openConfirmDialog(element)"
                                        *ngIf="element.active">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                <button mat-raised-button color="warn" (click)="openConfirmDialogActive(element)"
                                        *ngIf="!element.active">
                                    <mat-icon>rotate_right</mat-icon>
                                </button>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>

                </div>
            </div>
        </div>

    </div>
</div>
