<div class="main-landing" fxLayout="column">

    <div class="top-banner" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayoutAlign="center center" fxLayoutGap="20px">
            <img src="assets/circle-cropped.png" style="max-height: 40px">
            <span class="landing-banner-title">Entry Check</span>
        </div>
        <button mat-flat-button color="primary" class="login-button"
                (click)="scrollToLogin()">{{'context.signin' | translate}}</button>
    </div>

    <div fxFill fxLayoutAlign="center center" fxlayout="column">
        <h1 class="main-title">
            Entry Check
        </h1>


        <h1>
            Check your entries
        </h1>

    </div>

</div>
<div class="second-landing">

    <div fxLayout="row" fxLayoutAlign="space-around center">
        <mat-card></mat-card>
        <mat-card></mat-card>
        <mat-card></mat-card>

    </div>
</div>
<div class="footer-landing" id="support" style="color: white;">
    <h1>Support Contact</h1>
    <p>If you have issues, general feedback and feature enhancement requests, please contact us via E-Mail:</p>
    <a href= "mailto:gastro.verify@gmail.com">gastro.verify@gmail.com</a>
</div>
