<div class="main-landing" fxLayout="column">

    <div class="top-banner" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayoutAlign="center center" fxLayoutGap="20px">
            <img src="assets/circle-cropped.png" style="max-height: 40px">
            <span class="landing-banner-title">Entry Check</span>
        </div>
        <button mat-flat-button color="primary" class="login-button"
                (click)="scrollToLogin()">{{'context.signin' | translate}}</button>
    </div>

    <div fxFill fxLayoutAlign="center center" fxlayout="column">
        <h1 class="main-title">
            Entry Check
        </h1>


        <h1>
            Check your entries
        </h1>

    </div>

</div>
<div class="second-landing">

    <mat-grid-list rowHeight="300px" cols="{{gridTiles | async}}" fxFlex gutterSize="30px" class="info-grid">
        <mat-grid-tile fxLayout="column">
            <mat-card class="example-card" fxFlex>
                <mat-card-header>
                    <mat-card-title>Kunden registieren</mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <p>
                        Ein Kunde kann sich einfach und schnell mit einer einmaligen Registierung anmelden.
                        Mit einem SMS werden die angegeben Daten verifiziert.
                    </p>
                </mat-card-content>

            </mat-card>

        </mat-grid-tile>
        <mat-grid-tile fxLayout="column">
            <mat-card class="example-card" fxFlex>
                <mat-card-header>

                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>

            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile fxLayout="row">
            <mat-card class="example-card" fxFlex>
                <mat-card-header>

                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>

            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile fxLayout="row">
            <mat-card class="example-card" fxFlex>
                <mat-card-header>

                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>

            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>


</div>
<div class="footer-landing" id="support" style="color: white;">
    <h1>Support Contact</h1>
    <p>If you have issues, general feedback and feature enhancement requests, please contact us via E-Mail:</p>
    <a href="mailto:gastro.verify@gmail.com">gastro.verify@gmail.com</a>
</div>
