.main-landing {
  height: 100vh;

  // background: url("../../../assets/background.svg");
  // background-color: #3cd1f7;

  background: linear-gradient(to right, rgb(60, 209, 247), rgb(137, 235, 153));
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  margin: -10px -10px 0px -10px;
}

.top-banner {
  max-width: 100vh;
  background-color: black;
  opacity: 0.9;
  height: 60px;
  min-height: 60px;
  padding-right: 20px;
  padding-left: 20px;
}


.landing-banner-title {
  font-weight: bold;
  color: white;

}

.login-button {

}

@keyframes comein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mainname {
  font-size: 100px;
  text-shadow: 2px 2px 5px #6d6d6d;
  color: #3b3b3b;
}


.mainname-small {
  font-size: 50px;
  text-shadow: 2px 2px 5px #6d6d6d;
  color: #3b3b3b;
}

::ng-deep .bigButton {
  height: 50px !important;
  font-size: 20px !important;

}

.subtext {
  font-size: 20px;
  color: #545454;
}

.subtext-small {
  font-size: 17px;
  color: #545454;
}


.titlecard {
  background-color: white;
  padding: 50px;
  margin: 5px;
  border-radius: 6px;
}

.titlecard2 {
  background-color: white;
  padding: 20px;
  border-radius: 6px;
}

.removePadding {
  margin-left: -10px;
  margin-right: -10px;
}


.footer-landing {
  background-color: black;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px;

  padding: 15px;


}

.main-title {
  font-size: 100px;
  color: white;
  max-width: 600px;
}

.title-grid {

}

.info-grid {
  margin: 30px;
}

.example-header-image {

}

@keyframes open {
  from {
    top: 100%
  }
  to {
    top: 0%;
  }
}


@keyframes colorChangeCircle {
  0%, 100% {
    box-shadow: 0 5px 40px -3px #585858;
  }
  50% {
    box-shadow: 0 5px 40px -3px #f8f8f8;
  }
}


/**
 * Extracted from: SweetAlert
 * Modified by: Istiak Tridip
 */
.success-checkmark {
  $size1: 150px;
  $modi1: ($size1 / 80);

  width: $size1;
  height: $size1 + 50;
  margin: 0 auto;

  .check-icon {
    width: $size1;
    height: $size1;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid black;

    &::before {
      top: 3 * $modi1;
      left: -2 * $modi1;
      width: 30 * $modi1;
      transform-origin: 100% 50%;
      border-radius: 100 * $modi1 0 0 100 * $modi1;
    }

    &::after {
      top: 0;
      left: 30 * $modi1;
      width: 60 * $modi1;
      transform-origin: 0 50%;
      border-radius: 0 100 * $modi1 100 * $modi1 0;
      animation: rotate-circle 4.25s ease-in;
    }


    &::before, &::after {
      content: '';
      height: 100  * $modi1;
      position: absolute;
      background: transparent;
      transform: rotate(-45deg);
    }

    .icon-line {
      height: 5 * $modi1;
      background-color: black;
      display: block;
      border-radius: 2 * $modi1;
      position: absolute;
      z-index: 10 * $modi1;

      &.line-tip {
        transform: rotate(45deg);
        animation: icon-line-tip 3s infinite;
      }

      &.line-long {
        transform: rotate(-45deg);
        animation: icon-line-long 3s infinite;
      }
    }

    .icon-circle {
      top: -4 * $modi1;
      left: -4 * $modi1;
      z-index: 10;
      width: 80 * $modi1;
      height: 80 * $modi1;
      border-radius: 50%;
      position: absolute;
      box-sizing: content-box;
      border: 4 * $modi1 solid rgba(0, 0, 0, 1);
      box-shadow: 0 5px 40px -3px #585858;
    }

    .icon-circle:hover {
      animation: colorChangeCircle ease-in-out 1s;
    }

    .icon-fix {
      top: 8 * $modi1;
      width: 5 * $modi1;
      left: 26 * $modi1;
      z-index: 1;
      height: 85 * $modi1;
      position: absolute;
      transform: rotate(-45deg);
      background-color: transparent;
    }
  }

  @keyframes rotate-circle {
    0% {
      transform: rotate(-45deg);
    }
    5% {
      transform: rotate(-45deg);
    }
    12% {
      transform: rotate(-405deg);
    }
    100% {
      transform: rotate(-405deg);
    }
  }

  @keyframes icon-line-tip {
    0% {
      width: 0;
      left: 1 *$modi1;
      top: 19 * $modi1;
    }
    14% {
      width: 0;
      left: 1 * $modi1;
      top: 19* $modi1;
    }
    18% {
      width: 50*$modi1;
      left: -8*$modi1;
      top: 37*$modi1;
    }
    21% {
      width: 17*$modi1;
      left: 21*$modi1;
      top: 48*$modi1;
    }
    25% {
      width: 25*$modi1;
      left: 14*$modi1;
      top: 45*$modi1;
    }
    75% {
      width: 25*$modi1;
      left: 14*$modi1;
      top: 45*$modi1;
    }
    79% {
      width: 17*$modi1;
      left: 21*$modi1;
      top: 48*$modi1;
    }
    82% {
      width: 50*$modi1;
      left: -8*$modi1;
      top: 37*$modi1;
    }
    86% {
      width: 0;
      left: 1*$modi1;
      top: 19*$modi1;
    }
    100% {
      width: 0;
      left: 1*$modi1;
      top: 19*$modi1;
    }
  }

  @keyframes icon-line-long {
    0% {
      width: 0;
      right: 46*$modi1;
      top: 54*$modi1;
    }
    16% {
      width: 0;
      right: 46*$modi1;
      top: 54*$modi1;
    }
    21% {
      width: 55*$modi1;
      right: 0*$modi1;
      top: 35*$modi1;
    }
    25% {
      width: 47*$modi1;
      right: 8*$modi1;
      top: 37*$modi1;
    }
    75% {
      width: 47*$modi1;
      right: 8*$modi1;
      top: 37*$modi1;
    }
    79% {
      width: 55*$modi1;
      right: 0*$modi1;
      top: 35*$modi1;
    }
    84% {
      width: 0;
      right: 46*$modi1;
      top: 54*$modi1;
    }
    100% {
      width: 0;
      right: 46*$modi1;
      top: 54*$modi1;
    }
  }

}

.success-checkmark2 {
  $size: 450px;
  $modi: ($size / 80);

  width: $size;
  height: $size + 50;
  margin: 0 auto;

  .check-icon2 {
    width: $size;
    height: $size;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid black;

    &::before {
      top: 3 * $modi;
      left: -2 * $modi;
      width: 30 * $modi;
      transform-origin: 100% 50%;
      border-radius: 100 * $modi 0 0 100 * $modi;
    }

    &::after {
      top: 0;
      left: 30 * $modi;
      width: 60 * $modi;
      transform-origin: 0 50%;
      border-radius: 0 100 * $modi 100 * $modi 0;
      animation: rotate-circle2 4.25s ease-in;
    }


    &::before, &::after {
      content: '';
      height: 100  * $modi;
      position: absolute;
      background: transparent;
      transform: rotate(-45deg);
    }

    .icon-line2 {
      height: 5 * $modi;
      background-color: black;
      display: block;
      border-radius: 2 * $modi;
      position: absolute;
      z-index: 10 * $modi;

      &.line-tip2 {
        transform: rotate(45deg);
        animation: icon-line-tip2 3s infinite;
      }

      &.line-long2 {
        transform: rotate(-45deg);
        animation: icon-line-long2 3s infinite;
      }
    }

    .icon-circle2 {
      top: -4 * $modi;
      left: -4 * $modi;
      z-index: 10;
      width: 80 * $modi;
      height: 80 * $modi;
      border-radius: 50%;
      position: absolute;
      box-sizing: content-box;
      border: 4 * $modi solid rgba(0, 0, 0, 1);
      box-shadow: 0 5px 40px -3px #585858;

    }

    .icon-circle2:hover {
      animation: colorChangeCircle ease-in-out 1s;
    }


    .icon-fix2 {
      top: 8 * $modi;
      width: 5 * $modi;
      left: 26 * $modi;
      z-index: 1;
      height: 85 * $modi;
      position: absolute;
      transform: rotate(-45deg);
      background-color: transparent;
    }
  }

  @keyframes rotate-circle2 {
    0% {
      transform: rotate(-45deg);
    }
    5% {
      transform: rotate(-45deg);
    }
    12% {
      transform: rotate(-405deg);
    }
    100% {
      transform: rotate(-405deg);
    }
  }

  @keyframes icon-line-tip2 {
    0% {
      width: 0;
      left: 1 *$modi;
      top: 19 * $modi;
    }
    14% {
      width: 0;
      left: 1 * $modi;
      top: 19* $modi;
    }
    18% {
      width: 50*$modi;
      left: -8*$modi;
      top: 37*$modi;
    }
    21% {
      width: 17*$modi;
      left: 21*$modi;
      top: 48*$modi;
    }
    25% {
      width: 25*$modi;
      left: 14*$modi;
      top: 45*$modi;
    }
    75% {
      width: 25*$modi;
      left: 14*$modi;
      top: 45*$modi;
    }
    79% {
      width: 17*$modi;
      left: 21*$modi;
      top: 48*$modi;
    }
    82% {
      width: 50*$modi;
      left: -8*$modi;
      top: 37*$modi;
    }
    86% {
      width: 0;
      left: 1*$modi;
      top: 19*$modi;
    }
    100% {
      width: 0;
      left: 1*$modi;
      top: 19*$modi;
    }
  }

  @keyframes icon-line-long2 {
    0% {
      width: 0;
      right: 46*$modi;
      top: 54*$modi;
    }
    16% {
      width: 0;
      right: 46*$modi;
      top: 54*$modi;
    }
    21% {
      width: 55*$modi;
      right: 0*$modi;
      top: 35*$modi;
    }
    25% {
      width: 47*$modi;
      right: 8*$modi;
      top: 37*$modi;
    }
    75% {
      width: 47*$modi;
      right: 8*$modi;
      top: 37*$modi;
    }
    79% {
      width: 55*$modi;
      right: 0*$modi;
      top: 35*$modi;
    }
    84% {
      width: 0;
      right: 46*$modi;
      top: 54*$modi;
    }
    100% {
      width: 0;
      right: 46*$modi;
      top: 54*$modi;
    }
  }

}

