<mat-horizontal-stepper linear #stepper xmlns="http://www.w3.org/1999/html">
    <mat-step [editable]="true"  class="sign-padding">
        <ng-template matStepLabel>Information</ng-template>
        <form #signUpForm="ngForm" *ngIf="newUser$ | async as newUser" fxLayout="column" >
            <div class="sign-padding">
                <div fxLayout="column">

                    <mat-form-field fxFlex="100">
                        <input [(ngModel)]="newUser.email" class="cell" delayedFocus matInput name="email"
                               placeholder="Email"
                               required type="email">
                    </mat-form-field>

                    <mat-form-field fxFlex="100">
                        <input [(ngModel)]="newUser.password" class="cell" delayedFocus matInput name="password"
                               placeholder="Passwort"
                               required type="password">
                    </mat-form-field>
                </div>


                <div fxLayout="row">
                    <button (click)="clearForm()" [disabled]="signUpForm.invalid"
                            mat-icon-button
                            matTooltip="clear"
                            name="delete"
                            type="button"
                    >
                        <mat-icon>clear</mat-icon>
                    </button>

                    <button matStepperNext (click)="signUp()" [disabled]="signUpForm.invalid"
                            mat-icon-button
                            matTooltip="continue"
                            name="delete"
                            type="button"
                    >
                        <mat-icon>forward</mat-icon>
                    </button>
                </div>

            </div>

        </form>

    </mat-step>

    <mat-step class="sign-padding">
        <ng-template matStepLabel>Bestätigen</ng-template>
        <form #confirmFrom="ngForm" *ngIf="newUser$ | async as newUser" fxLayout="column">
            <div>

                <div fxLayout="column">
                    <mat-form-field fxFlex="100">
                        <input class="cell" delayedFocus matInput name="code"

                               placeholder="Code"
                               required type="number"
                               #confirmationInput
                        >
                    </mat-form-field>
                </div>


                <div fxLayout="row">
                    <button (click)="confirmSignUp(confirmationInput.value)" [disabled]="false"
                            mat-icon-button
                            matTooltip="Bestätigen"
                            name="confirm"
                            type="button"
                    >
                        <mat-icon>check</mat-icon>
                    </button>

                </div>

            </div>

        </form>

    </mat-step>

</mat-horizontal-stepper>


