<div class=" example-container" fxLayout="column" fxFlex *ngIf="bills$ | async as bill">
    <mat-table [dataSource]="bill.Data" fxFlex>


        <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef>{{'bill.date' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.billingDate | date: 'short'}}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="distinctTotal">
            <mat-header-cell *matHeaderCellDef> {{'bill.count' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.distinctTotal}} </mat-cell>

        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="total">
            <mat-header-cell *matHeaderCellDef> {{'bill.total' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.total}} </mat-cell>

        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef> {{'bill.price' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.price|  currency: 'CHF'}} </mat-cell>

        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="paid">
            <mat-header-cell *matHeaderCellDef> {{'bill.price' | translate}}</mat-header-cell>

            <mat-cell *matCellDef="let element">
                <button *ngIf="element.complete" mat-icon-button (click)="completeBill(element)">
                    <mat-icon>attach_money</mat-icon>
                </button>

                <div *ngIf="!element.complete" (click)="incompleteBill(element)">
                    <mat-icon>done</mat-icon>
                    {{element.paidAt}}
                </div>
            </mat-cell>

        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


    </mat-table>
</div>

