<div *ngIf="userLang == 'en'">
    <h1>Privacy Policy</h1>
    This privacy policy will explain how we use the personal data we collect from you when you use our app.
    <br>
    <br>
    Topics:
    
    <ul>
        <li>What data do we collect?</li>
        <li>How do we collect your data?</li>
        <li>How will we use your data?</li>
        <li>How do we store your data?</li>
        <li>Marketing</li>
        <li>How do we use cookies?</li>
        <li>Changes to our privacy policy</li>
        <li>How to contact us</li>
    </ul>
    
    
    <h1>What data do we collect?</h1>
    We collect the following data:
    
    <ul>
        <li>Firstname</li>
        <li>Surname</li>
        <li>Address</li>
        <li>Zip code</li>
        <li>City</li>
        <li>E-Mail</li>
        <li>Date of birth</li>
        <li>Phonenumber</li>
    </ul>
    
    <h1>How do we collect your data?</h1>
    <h2>Registration</h2>
    The registration process is anonymous and digitally secured.
    After the registration process, there is no personal data stored on our servers.
    Personal data is always stored on your personal phone, which will not be processed in any way during the registration process.
    
    <h2>Check-In</h2>
    By scanning a valid QR-Code, you submit your personal information via a secured channel.
    Your personal information then gets encrypted and stored in a data center in Frankfurt - Germany.
    
    <h1>How will we use your data?</h1>
    We do not process any of your personal information, nor track you over a period of time.
    All your data will be deleted after 2 weeks.
    No personal data or any other data will be stored for a longer period of time.
    
    <h1>When will my personal data be used?</h1>
    If the owner of a valid QR-Code (e.g. event manager) needs to see a list of attended people in retrospective.
    Also, we don't give your personal information to any other company/organisation than the intended QR-Code owner.
    The intended QR-Code owner may give the list of attended people to other companies/organisations.
    
    <h1>Removal of data</h1>
    We will keep your personal information data for 2 weeks.
    If you don't use this app for over 2 weeks, it's garantueed that we will have absolutely no personal data, or any other data left from you on our servers.
    
    <h1>Marketing</h1>
    The QR-Code owner is not allowed to use your personal information for marketing purposes.
    He must act responsively with your data.
    
    <h1>Why do we need camera access?</h1>
    For being able to scan a QR-Code you must grant permission for the app to use your camera.
    This permission can be revoked at any time through your phone's settings.
    
    <h1>What are your data protection rights?</h1>
    We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:
    <ul>
        <li>The right to access – You have the right to request us for copies of your personal data. We may charge you a small fee for this service.</li>
        <li>The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request us to complete the information you believe is incomplete.</li>
        <li>The right to erasure – You have the right to request that we erase your personal data, under certain conditions.</li>
        <li>The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.</li>
        <li>The right to object to processing – You have the right to object the processing of your personal data, under certain conditions.</li>
        <li>The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</li>
    </ul>
    
    If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email: gastro.verify@gmail.com
    
    <h1>How do we use cookies?</h1>
    We don't.
    
    <h1>Changes to our privacy policy</h1>
    We keep this privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 11 August 2020.
    
    <h1>How to contact us</h1>
    If you have any questions about our privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.
    <br>
    Write to us: gastro.verify@gmail.com
</div>

<div *ngIf="userLang == 'de'">
    <h1>Datenschutzerklärung</h1>
    Diese Datenschutzerklärung erklärt wie wir die persönlichen Daten verwenden, welche wir von dir sammeln, während du diese App verwendest.
    <br>
    <br>
    Inhalt:
    
    <ul>
        <li>Welche Daten werden gesammelt?</li>
        <li>Wie sammeln wir deine Daten?</li>
        <li>Wie verwenden wir deine Daten?</li>
        <li>Wann werden meine persönlichen Daten verwendet?</li>
        <li>Löschen von Daten</li>
        <li>Marketing</li>
        <li>Wesshalb braucht die App Zugriff auf meine Kamera?</li>
        <li>Welche Datenschutzrechte hast du?</li>
        <li>Wie verwenden wir Cookies?</li>
        <li>Änderungen an unserer Datenschutzerklärung</li>
    </ul>
    
    
    <h1>Welche Daten werden gesammelt?</h1>
    Wir sammeln folgende Daten:
    
    <ul>
        <li>Vornamen</li>
        <li>Nachnamen</li>
        <li>Adresse</li>
        <li>Postleitzahl</li>
        <li>Ort</li>
        <li>E-Mail</li>
        <li>Geburtsdatum</li>
        <li>Telefonnummer</li>
    </ul>
    
    <h1>Wie sammeln wir deine Daten?</h1>
    <h2>Registration</h2>
    Der Registrationsprozess ist anonym und digital gesichert.
    Nach dem Registrationsprozess sind keine persönlichen Daten auf unseren Servern gespeichert.
    Die persönlichen Daten werden auf deinem persönlichen Telefon oder Browser gespeichert und in keiner Art und Weise verarbeitet während dem Registrationsprozess.
    
    <h2>Check-in</h2>
    Wird ein valider QR-Code gescannt, werden die persönlichen Informationen über einen gesicherten kanal an unseren Server gesendet.
    Deine persönlichen Informationen werden anschliessend verschlüsselt gespeichert in einem Datencenter in Frankfurt - Deutschland.
    
    <h1>Wie verwenden wir deine Daten?</h1>
    Wir verarbeiten keine deiner persönlichen Daten und verfolgen sie auch nicht über eine Zeitspanne.
    Alle deine Daten werden nach zwei Wochen gelöscht.
    Keine persönlichen Daten werden länger als zwei Wochen gespeichert.
    
    <h1>Wann werden meine persönlichen Daten verwendet?</h1>
    Wenn der Besitzer eines validen QR-Codes (z.B. ein Event-Manager) eine Liste einsehen muss von Personen, welche an einem Tag anwesend waren.
    Niemand ausser der Besitzer des validen QR-Codes kann diese Liste herunterladen.
    Auch werden keine persönlichen Informationen an dritte weitergegeben, möglicherweise jedoch durch den Besitzer eines validen QR-Codes.
    
    <h1>Löschen von Daten</h1>
    Wir behalten deine persönliche Daten für zwei Wochen.
    Wenn du die App für eine längere Zeit als zwei Wochen nicht verwendest ist somit garantiert, dass wir absolut keine persönlichen Daten mehr über dich gespeichert haben.

    <h1>Marketing</h1>
    Dem Besitzer eines gültigen QR-Codes ist es nicht gestattet deine persönlichen Informationen für Werbezwecke zu verwenden.
    Er muss verantwortungsvoll mit deinen Daten umgehen.
    
    <h1>Wesshalb braucht die App Zugriff auf meine Kamera?</h1>
    Um einen QR-Code zu scannen musst du der App Zugriff auf deine Kamera geben.
    Die Berechtigung kann wiederrufen werden zu jeder Zeit durch die Einstellungen deines Telefons.
    
    <h1>Welche Datenschutzrechte hast du?</h1>
    Wir möchte sicherstellen, dass Sie sich über alle Ihre Datenschutzrechte im Klaren sind. Jeder Benutzer hat das Recht auf Folgendes:
    <ul>
        <li>Das Recht auf Zugang - Sie haben das Recht, von uns Kopien Ihrer persönlichen Daten anzufordern. Für diesen Service können wir Ihnen eine geringe Gebühr in Rechnung stellen.</li>
        <li>Das Recht auf Berichtigung - Sie haben das Recht, von uns die Berichtigung von Informationen zu verlangen, die Ihrer Meinung nach ungenau sind. Sie haben auch das Recht, von uns die Vervollständigung der Informationen zu verlangen, die Ihrer Meinung nach unvollständig sind.</li>
        <li>Das Recht auf Löschung - Sie haben das Recht, unter bestimmten Bedingungen zu verlangen, dass wir Ihre persönlichen Daten löschen.</li>
        <li>Das Recht, die Verarbeitung einzuschränken - Sie haben das Recht, unter bestimmten Bedingungen zu verlangen, dass wir die Verarbeitung Ihrer persönlichen Daten einschränken.</li>
        <li>Das Recht, der Verarbeitung zu widersprechen - Sie haben das Recht, der Verarbeitung Ihrer persönlichen Daten unter bestimmten Bedingungen zu widersprechen.</li>
        <li>Das Recht auf Datenübertragbarkeit - Sie haben das Recht zu verlangen, dass wir die von uns gesammelten Daten unter bestimmten Bedingungen an eine andere Organisation oder direkt an Sie übertragen.</li>
    </ul>
    
    Wenn Sie eine Anfrage stellen, haben wir einen Monat Zeit, um Ihnen zu antworten. Wenn Sie eines dieser Rechte ausüben möchten, wenden Sie sich bitte per E-Mail an uns: gastro.verify@gmail.com
    
    <h1>Wie verwenden wir Cookies?</h1>
    Wir verwenden keine Cookies.
    
    <h1>Änderungen an unserer Datenschutzerklärung</h1>
    Wir überprüfen diese Datenschutzrichtlinie regelmäßig und veröffentlichen alle Aktualisierungen auf dieser Webseite. Diese Datenschutzrichtlinie wurde zuletzt am 11. August 2020 aktualisiert.
    
    <h1>Wie Sie uns kontaktieren können</h1>
    Wenn Sie Fragen zur Datenschutzpolitik unseres Unternehmens oder zu den Daten haben, die wir über Sie speichern, oder wenn Sie eines Ihrer Datenschutzrechte ausüben möchten, zögern Sie bitte nicht, uns zu kontaktieren.
    <br>
    Schreiben Sie uns: gastro.verify@gmail.com
</div>
