<h1>Privacy Policy</h1>
This privacy policy will explain how we use the personal data we collect from you when you use our app.
<br>
<br>
Topics:

<ul>
    <li>What data do we collect?</li>
    <li>How do we collect your data?</li>
    <li>How will we use your data?</li>
    <li>How do we store your data?</li>
    <li>Marketing</li>
    <li>How do we use cookies?</li>
    <li>Changes to our privacy policy</li>
    <li>How to contact us</li>
</ul>


<h1>What data do we collect?</h1>
We collect the following data:

<ul>
    <li>Firstname</li>
    <li>Surname</li>
    <li>Address</li>
    <li>ZipCode</li>
    <li>City</li>
    <li>E-Mail</li>
    <li>Phonenumber</li>
</ul>

<h1>How do we collect your data?</h1>
<h2>Registration</h2>
The registration process is anonymous and digitally secured.
After the registration process, there is no personal data stored on our servers.
Personal data is always stored on your personal phone, which will not be processed in any way during the registration process.

<h2>Check-In</h2>
By scanning a valid QR-Code, you submit your personal information via a secured channel.
Your personal information then gets encrypted and stored in such a way, that only the owner of the QR-Code will be able to decrypt these informations when needed.

<h1>How will we use your data?</h1>
We do not process any of your personal information, nor track you over a period of time.
All your data will be deleted after 2 weeks.
No personal data or any other data will be stored for a longer period of time.

<h1>When will my personal data be used?</h1>
If the owner of a valid QR-Code (e.g. event manager) needs to see a list of attended people in retrospective.
No one other than the intended location, in which you check-in can download or see your personal information.
Also, we don't give your personal information to any other company/organisation than the intended QR-Code owner.

<h1>Removal of data</h1>
Our Company will keep your personal information data for 2 weeks.
If you don't use this app for over 2 weeks, it's garantueed that we will have absolutely no personal data, or any other data left from you on our servers.

<h1>Marketing</h1>
The QR-Code owner is not allowed to use your personal information for marketing purposes.
He must act responsively with your data.

<h1>Why do we need camera access?</h1>
For being able to scan a QR-Code you must grant permission for the app to use your camera.
This permission can be revoked at any time through your phone's settings.

<h1>What are your data protection rights?</h1>
Our Company would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:
<ul>
    <li>The right to access – You have the right to request Our Company for copies of your personal data. We may charge you a small fee for this service.</li>
    <li>The right to rectification – You have the right to request that Our Company correct any information you believe is inaccurate. You also have the right to request Our Company to complete the information you believe is incomplete.</li>
    <li>The right to erasure – You have the right to request that Our Company erase your personal data, under certain conditions.</li>
    <li>The right to restrict processing – You have the right to request that Our Company restrict the processing of your personal data, under certain conditions.</li>
    <li>The right to object to processing – You have the right to object to Our Company’s processing of your personal data, under certain conditions.</li>
    <li>The right to data portability – You have the right to request that Our Company transfer the data that we have collected to another organization, or directly to you, under certain conditions.</li>
</ul>

If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email: gastro.verify@gmail.com

<h1>How do we use cookies?</h1>
We don't.

<h1>Changes to our privacy policy</h1>
We keep this privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 11 August 2020.

<h1>How to contact us</h1>
If you have any questions about Our Company’s privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.
<br>
Write to us: gastro.verify@gmail.com