<h1 mat-dialog-title>Standort hinzufügen</h1>
<div mat-dialog-content>
    <form #addBarForm="ngForm" fxLayout="column">
        <mat-form-field>
            <input [(ngModel)]="newLocation.locationId" class="cell" delayedFocus matInput name="firstname"

                   pattern="^[A-z0-9]*"
                   placeholder="Bar ID"
                   required type="name">
        </mat-form-field>
        <mat-form-field>

            <input [(ngModel)]="newLocation.name" class="cell" delayedFocus matInput name="lastname"
                   placeholder="Name"
                   required type="name">
        </mat-form-field>

        <mat-form-field>
            <input [(ngModel)]="newLocation.street" class="cell" delayedFocus matInput name="address"
                   placeholder="Strasse + Nummer"
                   required type="Address">
        </mat-form-field>

        <mat-form-field>
            <input [(ngModel)]="newLocation.city" class="cell" delayedFocus matInput name="city"
                   placeholder="Ort"
                   required type="city">
        </mat-form-field>


        <mat-form-field>
            <input [(ngModel)]="newLocation.zipcode" class="cell" delayedFocus matInput name="zip"
                   placeholder="PLZ"
                   required type="zip">
        </mat-form-field>

        <button mat-raised-button type="button" [disabled]="addBarForm.invalid" (click)="addBar()">Hinzufügen</button>
    </form>

</div>
