<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
</button>

<h1 mat-dialog-title>{{'location.addlocation' | translate}}</h1>
<div mat-dialog-content>
    <form #addBarForm="ngForm" fxLayout="column">
        <mat-form-field>

            <input [(ngModel)]="newLocation.name" class="cell" delayedFocus matInput name="lastname"
                   placeholder="{{'form.name' | translate}}"
                   required type="name">
        </mat-form-field>

        <mat-form-field>
            <input [(ngModel)]="newLocation.street" class="cell" delayedFocus matInput name="address"
                   placeholder="{{'form.street' | translate}}"
                   required type="Address">
        </mat-form-field>

        <mat-form-field>
            <input [(ngModel)]="newLocation.city" class="cell" delayedFocus matInput name="city"
                   placeholder="{{'form.city' | translate}}"
                   required type="city">
        </mat-form-field>


        <mat-form-field>
            <input [(ngModel)]="newLocation.zipcode" class="cell" delayedFocus matInput name="zip"
                   placeholder="{{'form.zip' | translate}}"
                   required type="zip">
        </mat-form-field>

        <mat-form-field>
            <input [(ngModel)]="newLocation.type" class="cell" delayedfocus matInput name="type"
                   (ngModelChange)="filterOptions($event)"
                   placeholder="{{'form.type' | translate}}" required type="text" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <!--
                <section class="example-section">
                    <mat-checkbox class="example-margin" name="premiumcheckbox" [(ngModel)]="enablePremium">Checked</mat-checkbox>
                </section>

                <span>Achtung eigne Sender ID ist optional. Eine eigene Sender ID kostet 0.40.- pro Eintritt</span>
                <div   [hidden]="!enablePremium" fxFlex>
                <mat-form-field [hidden]="!enablePremium">
                    <input [(ngModel)]="newLocation.senderID" class="cell" delayedFocus matInput name="senderID"
                           placeholder="{{'form.senderID' | translate}}"
                           [maxLength]="11"


                           [minlength]="3"
                           [required]="enablePremium"
                            type="text">
                </mat-form-field>
                 </div>
                 -->
        <button mat-flat-button color="accent" type="button" [disabled]="addBarForm.invalid"
                (click)="addBar()">{{'form.add' | translate}}</button>
    </form>

</div>
