<mat-sidenav-container fxFill>
    <mat-sidenav #sidenav mode="over" [(opened)]="opened" class="scrollable">

        <mat-toolbar color="primary" style="min-height:200px" fxLayoutAlign="center center">
            <img src="assets/circle-cropped.png" style="max-height: 150px">
        </mat-toolbar>
        <mat-selection-list #shoes [multiple]="false">

            <mat-list-option routerLink="/location/dashboard" routerLinkActive="active" (click)="sidenav.toggle()">
                <mat-icon mat-list-icon color="accent">apps</mat-icon>
                <span>{{'context.dashboard' | translate}}</span>
            </mat-list-option>
            <mat-list-option routerLink="/location/personal" routerLinkActive="active" (click)="sidenav.toggle()">
                <mat-icon mat-list-icon color="accent">perm_identity</mat-icon>
                <span>{{'context.profile' | translate}}</span>
            </mat-list-option>
            <mat-list-option routerLink="/location/report" routerLinkActive="active" (click)="sidenav.toggle()">
                <mat-icon mat-list-icon color="accent">analytics</mat-icon>
                <span>{{'context.report' | translate}}</span>
            </mat-list-option>

            <mat-list-option routerLink="/location/checkIn" routerLinkActive="active" (click)="sidenav.toggle()">
                <mat-icon mat-list-icon color="accent">meeting_room</mat-icon>
                <span>{{'context.checkin' | translate}}</span>
            </mat-list-option>

            <mat-list-option routerLink="/admin"  (click)="sidenav.toggle()" *ngIf="isAdmin$ | async as admin">
                <mat-icon mat-list-icon color="accent">admin_panel_settings</mat-icon>
                <span>{{'context.admin' | translate}}</span>
            </mat-list-option>

            <mat-list-option appSignOut (click)="setOpened(false)">
                <mat-icon mat-list-icon color="accent">power_settings_new</mat-icon>
                <span>{{'context.signout' | translate}}</span>
            </mat-list-option>

        </mat-selection-list>


    </mat-sidenav>

    <mat-sidenav-content  fxFlex fxLayout="column" class="scrollable">

        <mat-toolbar fxFlex="60px" class="theToolBar" *ngIf="!(toolbarHidden$ | async)" color="primary" fxLayoutAlign="space-between center">
            <div fxLayoutAlign="center center" fxLayoutGap="10px">
                <button mat-icon-button class="example-icon" (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>

                <span *ngIf="toolbarTitle$ | async as toolbarTitle">{{toolbarTitle}}</span>
            </div>
            <div fxLayoutAlign="center center" fxLayoutGap="10px">

                <button mat-icon-button [matMenuTriggerFor]="languageMenu">
                    <mat-icon>language</mat-icon>
                </button>
                <mat-menu #languageMenu="matMenu">

                    <button mat-menu-item *ngFor="let language of languages" (click)="changeLanguage(language)">{{language.name}}</button>

                </mat-menu>
            </div>
        </mat-toolbar>

        <div class="mainContainer" fxFlex>
            <router-outlet></router-outlet>

        </div>

    </mat-sidenav-content>
</mat-sidenav-container>


