<div class="mat-elevation-z8 " *ngIf="selectedBar$ | async as selectedbar" fxFill fxLayout="column">

    <mat-toolbar>
        <span>{{selectedbar.name}}</span>
        <span class="example-spacer"></span>
        <button mat-icon-button (click)="reload(selectedbar)" matTooltip="{{'entry.reload' | translate}}">
            <mat-icon>replay</mat-icon>
        </button>
        <button mat-icon-button (click)="reload(selectedbar)" [mat-dialog-close]="true">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar>
    <app-spinner [data$]="data$"></app-spinner>
    <div class=" example-container" fxLayout="column" fxFlex *ngIf="data$ | async as data">
        <mat-table [dataSource]="data.Data" >


            <ng-container matColumnDef="Checkin">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon *ngIf="element.checkIn" [color]="'success'">local_bar</mat-icon>
                    <mat-icon *ngIf="!element.checkIn" [color]="'warn'">no_drinks</mat-icon>

                </td>
            </ng-container>

            <ng-container matColumnDef="Zeit">
                <th mat-header-cell *matHeaderCellDef> Zeit</th>
                <td mat-cell *matCellDef="let element"> {{element.entryTime | date:'short'}} </td>
            </ng-container>


            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef> {{'entry.time' | translate}}</th>
                <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="Nachname">
                <th mat-header-cell *matHeaderCellDef> {{'entry.name' | translate}}</th>
                <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Strasse">
                <th mat-header-cell *matHeaderCellDef> {{'entry.lastname' | translate}}</th>
                <td mat-cell *matCellDef="let element"> {{element.street}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="Ort">
                <th mat-header-cell *matHeaderCellDef>{{'entry.city' | translate}}</th>
                <td mat-cell *matCellDef="let element"> {{element.city}} </td>
            </ng-container>

            <ng-container matColumnDef="PLZ">
                <th mat-header-cell *matHeaderCellDef>{{'entry.zip' | translate}}</th>
                <td mat-cell *matCellDef="let element"> {{element.zipCode}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="Nr.">
                <th mat-header-cell *matHeaderCellDef>{{'entry.phonenr' | translate}}</th>
                <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="Email">
                <th mat-header-cell *matHeaderCellDef>{{'entry.email' | translate}}</th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </mat-table>
        <div fxFlex fxLayoutAlign="center center" *ngIf="data.LastEvaluatedKey">
            <button mat-icon-button (click)="onPageEvent(data.LastEvaluatedKey)"
                    aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>expand_more</mat-icon>
            </button>
        </div>
        <div fxFlex fxLayoutAlign="center center" *ngIf="!data.LastEvaluatedKey">
            <span>{{'entry.nomoredata' | translate}}</span>
        </div>
    </div>
    <button *ngIf="data$ | async as data" mat-raised-button (click)="exportCSV()"
            matTooltip="{{'entry.download' | translate}}" color="warn">
        {{'entry.download' | translate}}
    </button>
</div>

