<div class="mat-elevation-z8 " *ngIf="selectedBar$ | async as selectedbar" fxFill fxLayout="column">

    <mat-toolbar>
        <span>{{'context.location' | translate}}: {{selectedbar.name}}</span>
        <span class="example-spacer"></span>
        <button *ngIf="data$ | async as data" mat-raised-button (click)="exportCSV()"
                matTooltip="{{'entry.download' | translate}}" color="warn">
            {{'entry.download' | translate}}
        </button>
        <button mat-icon-button (click)="reload(selectedbar)" matTooltip="{{'entry.reload' | translate}}">
            <mat-icon>replay</mat-icon>
        </button>

        <button mat-icon-button (click)="reload(selectedbar)" [mat-dialog-close]="true">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar>
    <app-spinner [data$]="data$"></app-spinner>

    <div class="example-container" fxLayout="column" *ngIf="data$ | async as data">
        <!--     -->
        <mat-table [dataSource]="data.Data" fxFlex>


            <ng-container matColumnDef="Checkin">
                <mat-header-cell mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell mat-cell *matCellDef="let element">
                    <mat-icon *ngIf="element.checkIn" [color]="'success'">local_bar</mat-icon>
                    <mat-icon *ngIf="!element.checkIn" [color]="'warn'">no_drinks</mat-icon>

                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Zeit">
                <mat-header-cell mat-header-cell *matHeaderCellDef> {{'entry.time' | translate}}</mat-header-cell>
                <mat-cell mat-cell *matCellDef="let element"> {{element.entryTime | date:'HH:mm : dd.MM'}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="Name">
                <mat-header-cell mat-header-cell *matHeaderCellDef> {{'entry.name' | translate}}</mat-header-cell>
                <mat-cell mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="Strasse">
                <mat-header-cell mat-header-cell *matHeaderCellDef> {{'entry.street' | translate}}</mat-header-cell>
                <mat-cell mat-cell *matCellDef="let element">
                    <div fxLayout="column">
                        <span>  {{element.street}} </span> <span>{{element.zipCode}} {{element.city}} </span>
                    </div>
                </mat-cell>
            </ng-container>


            <ng-container matColumnDef="Nr.">
                <mat-header-cell mat-header-cell *matHeaderCellDef>{{'entry.phonenr' | translate}}
                    & {{'entry.email' | translate}} </mat-header-cell>
                <mat-cell mat-cell *matCellDef="let element">
                    <div fxLayout="column">
                        <span> {{element.phoneNumber}} </span>
                        <span> {{element.email}} </span>
                    </div>
                </mat-cell>
            </ng-container>


            <ng-container matColumnDef="Email">
                <mat-header-cell mat-header-cell *matHeaderCellDef>{{'entry.email' | translate}}</mat-header-cell>
                <mat-cell mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>


        <div fxFlex fxLayoutAlign="center center" *ngIf="data.LastEvaluatedKey">
            <button mat-icon-button (click)="onPageEvent(data.LastEvaluatedKey)"
                    aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>expand_more</mat-icon>
            </button>
        </div>
        <div fxFlex fxLayoutAlign="center center" *ngIf="!data.LastEvaluatedKey">
            <span>{{'entry.nomoredata' | translate}}</span>
        </div>
    </div>

</div>

