.example-container {
  overflow: auto;
}

.example-spacer {
  flex: 1 1 auto;
}

#download-button {
  margin-right: 10px;
}

.mat-table {
  width: 100%;
}

.example-element-detail {
  overflow: hidden;

}

.mat-column-Zeit,
.mat-column-Name, .mat-column-Nachname,
.mat-column-Strasse, .mat-column-Ort,
.mat-column-PLZ, .mat-column-Email,
.mat-column-Nr- {
  min-width: 90px;
}


.mat-column-Checkin {
  max-width: 50px;
  min-width: 50px;
}

.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row mat-cell {
  border-bottom-width: 0 !important;
}


.example-detail-row {
  height: 0;
}



.example-element-row td {
  border-bottom-width: 0;
}


.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
