<div class="mat-elevation-z8 " *ngIf="selectedBar$ | async as selectedbar" fxFill fxLayout="column">

    <mat-toolbar>
        <span>Check In / Check Out</span>
        <span class="example-spacer"></span>
        <button mat-icon-button (click)="exportCSV()" matTooltip="Herunterladen">
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">cloud_download</mat-icon>
        </button>
        <button mat-icon-button (click)="reload(selectedbar)" matTooltip="Reload" >
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">replay</mat-icon>
        </button>
    </mat-toolbar>
    <div class=" example-container" fxLayout="column" fxFlex *ngIf="data$ | async as data">
        <table mat-table [dataSource]="data.Data" fxFlex >


            <ng-container matColumnDef="Checkin">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon *ngIf="element.checkIn" [color]="'success'">local_bar</mat-icon>
                    <mat-icon *ngIf="!element.checkIn" [color]="'warn'">no_drinks</mat-icon>

                </td>
            </ng-container>

            <ng-container matColumnDef="Zeit">
                <th mat-header-cell *matHeaderCellDef> Zeit</th>
                <td mat-cell *matCellDef="let element"> {{element.entryTime | date:'short'}} </td>
            </ng-container>


            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef> Name</th>
                <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="Nachname">
                <th mat-header-cell *matHeaderCellDef> Nachname</th>
                <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Strasse">
                <th mat-header-cell *matHeaderCellDef> Strasse</th>
                <td mat-cell *matCellDef="let element"> {{element.street}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="Ort">
                <th mat-header-cell *matHeaderCellDef> Ort</th>
                <td mat-cell *matCellDef="let element"> {{element.city}} </td>
            </ng-container>

            <ng-container matColumnDef="PLZ">
                <th mat-header-cell *matHeaderCellDef> PLZ</th>
                <td mat-cell *matCellDef="let element"> {{element.zipCode}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="Nr.">
                <th mat-header-cell *matHeaderCellDef> Nr.</th>
                <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="Email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        <div fxFlex fxLayoutAlign="center center" *ngIf="data.LastEvaluatedKey">
            <button mat-icon-button (click)="onPageEvent(data.LastEvaluatedKey)"
                    aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>expand_more</mat-icon>
            </button>
        </div>
        <div fxFlex fxLayoutAlign="center center" *ngIf="!data.LastEvaluatedKey">
            <span>no more data</span>
        </div>
    </div>

</div>
