.example-container {
  overflow: auto;
}

.example-spacer {
  flex: 1 1 auto;
}

#download-button {
  margin-right: 10px;
}

/*
.mat-column-Checkin, .mat-column-Zeit,
.mat-column-Name, .mat-column-Nachname,
.mat-column-Strasse, .mat-column-Ort,
.mat-column-PLZ, .mat-column-Email,
.mat-column-Nr- {
  min-width: 70px;
}


*/


