<div fxLayout="column" fxLayoutGap="50px">

    <div fxLayoutGap="10px" fxLayout="column">
        <h2>1.0 Vertragsgegenstand</h2>
        <p>1.1 Gegenstand dieses Vertrags bildet die Software Entry-Check.</p>
        <p>1.2 Die Software-Eigentümer gewähren dem Standortbetreiber das nicht übertragbare
            und nicht ausschliessliche entgeltliche Recht zum Gebrauch der Software.</p>

    </div>

    <div fxLayoutGap="10px" fxLayout="column">
        <h2>2.0 Vertragsdauer</h2>
        <p>2.1 Dieser Vertrag kann einseitig mit einer Kündigungsfrist von einem Monat schriftlich aufgelöst werden.</p>
        <p>2.2 Dieser Vertrag wird stillschweigend aufgelöst, wenn der Standortbetreiber die Software über einen Monat
            hinweg
            nicht verwendet.</p>
        <p>2.3 Dieser Vertrag bleibt gültig bei Eigentümerwechsel der Software Entry-Check.</p>

    </div>

    <div fxLayoutGap="10px" fxLayout="column">
        <h2>3.0 Verwendung</h2>
        <p>3.1 Der Standortbetreiber erhält Zugriff auf den Administrationsbereich von Entry-Check.
            Auf dieser Seite können Check-in und Check-out QR-Codes generiert werden, neue Standorte erstellt und die
            Liste der
            anwesenden Personen der letzten zwei Wochen heruntergeladen werden. </p>
        <p>3.2 Dem Standortbetreiber ist es gestattet, die Check-in und Check-out QR-Codes an einem Standort so
            auszulegen, dass
            die Besucher eines Standorts diese scannen können.</p>
        <p>3.3 Der Standortbetreiber ist verpflichtet, eine alternative Möglichkeit der Kontaktdatenerfassung anzubieten
            (z.B.
            durch Karteikärtchen oder eine Liste auf Papier), um bei möglichen Internetausfällen, Serviceausfällen oder
            ähnlichem die Kontaktdatenerfassung aufrecht zu halten.</p>
        <p>3.4 Der Standortbetreiber ist verpflichtet mit der herunterladbaren Liste der anwesenden Personen sorgfältig
            umzugehen und die Kontaktinformationen nicht für Werbezwecke zu verwenden.</p>
        <p>3.5 Der Standortbetreiber ist für die Einhaltung der Vorschriften und Gesetze verantwortlich.</p>

    </div>

    <div fxLayoutGap="10px" fxLayout="column">
        <h2>4.0 Bezahlung</h2>
        <p>4.1 Ein eindeutiger Besucher wird anhand seiner Identifikationsnummer gezählt. Ein eindeutiger Besucher wird
            pro
            Standort und pro Tag verrechnet mit CHF 0.15. Vollzieht ein Barbesucher mehrere Check-ins oder Check-outs
            pro Tag
            an demselben Standort, werden nur einmalig CHF 0.15 verrechnet.</p>
        <p>4.2 Die Rechnungsstellung erfolgt monatlich per E-Mail und ist innerhalb von 30 Tagen zu bezahlen. Kommt der
            Standortbetreiber seinen Zahlungsverpflichtungen nicht nach, haben die Software-Eigentümer das Recht, den
            Vertrag
            fristlos, einseitig aufzulösen.</p>
        <p>4.3 Täglich werden Zusammenfassungen des vorherigen Tages generiert und auf der Webseite publiziert. Die
            Zusammenfassung beinhaltet unter anderem die Anzahl der
            eindeutigen Besucher. Der Standortbetreiber hat sieben Tage Zeit, diese Anzahl zu überprüfen und bei einem
            Fehler
            schriftlich bei den Software-Eigentümern eine Klärung zu verlangen. Ist während der Einsprachefrist keine
            schriftliche Rückmeldung bei den Software-Eigentümern eingegangen, wird die Anzahl der eindeutigen Besucher
            durch
            den Standortbetreiber stillschweigend akzeptiert.</p>
        <p>3.4 Der Standortbetreiber ist verpflichtet mit der herunterladbaren Liste der anwesenden Personen sorgfältig
            umzugehen und die Kontaktinformationen nicht für Werbezwecke zu verwenden.</p>
        <p>3.5 Der Standortbetreiber ist für die Einhaltung der Vorschriften und Gesetze verantwortlich.</p>

    </div>

    <div fxLayoutGap="10px" fxLayout="column">
        <h2>5.0 Haftungsauschluss</h2>
        <p>5.1 Die Sotware Entry-Check ist direkt abhängig von verschiedensten Drittanbietern (z.B. Swisscom, Salt,
            AWS).
            Dadurch kann nicht für die Erreichbarkeit und Funktionalität der Software garantiert werden. Siehe 3.3.</p>


    </div>


    <div fxLayout="row" fxLayoutGap="10px">
        <button mat-flat-button color="primary" (click)="closeBootmSheet(true)">Annehmen</button>
        <button mat-flat-button color="warn" (click)="closeBootmSheet(false)">Ablehnen</button>
    </div>
</div>
