<div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-evenly center">

    <!--<div fxLayout="row" fxLayoutAlign="space-evenly center">
        <mat-card fxFlex="40" class="sign-mat-card">
            <mat-tab-group fxFlex>

                    <mat-tab label="Sign In" >
                        <app-signin></app-signin>
                    </mat-tab>

                    <mat-tab label="Sign Up" class="sign-tab">
                        <app-signup></app-signup>
                    </mat-tab>
            </mat-tab-group>
        </mat-card>

            <amplify-authenticator usernameAlias="email" >
        <amplify-sign-up
                slot="sign-up"
                usernameAlias="email"
                [formFields]="formFields"

        ></amplify-sign-up>
        <amplify-sign-in slot="sign-in" usernameAlias="email"></amplify-sign-in>
    </amplify-authenticator>
    </div> -->


    <amplify-authenticator></amplify-authenticator>
</div>


