<div fxFill>
    <mat-toolbar>
        <span>{{data.partner.firstName}}</span>
    </mat-toolbar>

    <mat-tab-group>
        <mat-tab label="Overview">
            <app-admin-partner-detail [partner]="data.partner">

            </app-admin-partner-detail>

        </mat-tab>
        <mat-tab label="Reports">
            <app-admin-report [partner]="data.partner"></app-admin-report>
        </mat-tab>
        <mat-tab label="Bills">
            <app-admin-bill [partnerId]="data.partner.email"></app-admin-bill>
        </mat-tab>
    </mat-tab-group>

</div>
