<div fxFill>
    <div class="mat-elevation-z8 " fxFlex fxLayout="column" *ngIf="!(newPartner$ | async)">
        <form #signInFrom="ngForm" fxLayout="column" *ngIf="partner$ | async as partner" fxFlex>
            <mat-toolbar>
                <span>Rechnungsaddresse</span>
                <span class="example-spacer"></span>
            </mat-toolbar>
            <mat-card fxLayout="column" fxFlex>


                <mat-form-field>
                    <input [(ngModel)]="partner.firstName" class="cell"
                           delayedFocus matInput name="firstname"
                           placeholder="Name"
                           required type="name">
                </mat-form-field>
                <mat-form-field>

                    <input [(ngModel)]="partner.lastName" class="cell" delayedFocus matInput name="lastname"
                           placeholder="Nachname"
                           required type="name">
                </mat-form-field>

                <mat-form-field>
                    <input [(ngModel)]="partner.address" class="cell" delayedFocus matInput name="address"
                           placeholder="Strasse + Nummer"
                           required type="Address">
                </mat-form-field>

                <mat-form-field>
                    <input [(ngModel)]="partner.city" class="cell" delayedFocus matInput name="city"
                           placeholder="Ort"
                           required type="city">
                </mat-form-field>


                <mat-form-field>
                    <input [(ngModel)]="partner.zipcode" class="cell" delayedFocus matInput name="zip"
                           placeholder="PLZ"
                           required type="zip">
                </mat-form-field>
                <button mat-flat-button color="accent" (click)="updateBillingAddress()">
                    Speichern
                </button>


            </mat-card>
        </form>
    </div>


</div>
