<div fxFill>
    <div class="mat-elevation-z8 " fxFlex fxLayout="column" *ngIf="!(newPartner$ | async)">
        <form #signInFrom="ngForm" fxLayout="column" *ngIf="partner$ | async as partner" fxFlex>
            <mat-toolbar>
                <span>{{'personal.billingaddress' | translate}}</span>
                <span class="example-spacer"></span>
            </mat-toolbar>
            <mat-card fxLayout="column" fxFlex>


                <mat-form-field>
                    <input [(ngModel)]="partner.firstName" class="cell"
                           delayedFocus matInput name="firstname"
                           placeholder="{{'personal.name' | translate}}"
                           required type="name">
                </mat-form-field>
                <mat-form-field>

                    <input [(ngModel)]="partner.lastName" class="cell" delayedFocus matInput name="lastname"
                           placeholder="{{'personal.lastname' | translate}}"
                           required type="name">
                </mat-form-field>

                <mat-form-field>
                    <input [(ngModel)]="partner.address" class="cell" delayedFocus matInput name="address"
                           placeholder="{{'personal.street' | translate}}"
                           required type="Address">
                </mat-form-field>

                <mat-form-field>
                    <input [(ngModel)]="partner.city" class="cell" delayedFocus matInput name="city"
                           placeholder="{{'personal.city' | translate}}"
                           required type="city">
                </mat-form-field>


                <mat-form-field>
                    <input [(ngModel)]="partner.zipcode" class="cell" delayedFocus matInput name="zip"
                           placeholder="PLZ"
                           required type="{{'personal.zip' | translate}}">
                </mat-form-field>
                <button mat-flat-button color="accent" (click)="updateBillingAddress()">
                    {{'context.save' | translate}}
                </button>


            </mat-card>
        </form>
    </div>


</div>
