/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
  overflow: auto;
}

body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.filters {
  mat-form-field {
    height: 10px;

    div.mat-form-field-flex .mat-form-field-label-wrapper {
      padding-top: 0;
    }

    div.mat-from-field-wrapper {
      padding-bottom: 0;
    }

    div.mat-form-field-underline {
      bottom: 0;
    }

    div.mat-form-field-infix {
      border-top: 0;
    }
  }
}


/******************************
Mat Bottom Shee
*******************************/

.my-component-bottom-sheet {
  min-height: 95vh;
  min-width: 100vw !important;

}

/******************************
Mat Dialog
*******************************/

.custom-dialog-container .mat-dialog-container {
  overflow-y: hidden;
  padding: 0;
  margin: 0;
}


.no-padding-dialog .mat-dialog-container {
  padding: 0;
  margin: 0;
}

.table-column-right {
  text-align: right;
}


// chevron


.scrolldowndiv:hover {
  background-color: transparent;
}


.scrolldowndiv:hover .chev {
  fill: white;

}

.bottom_chev {
  animation: hideshow 2s ease-in-out infinite;
}

.top_chev {
  animation: hideshow 2s 600ms ease-in-out infinite;

}


.middle_chev {

  animation: hideshow 2s 300ms ease-in-out infinite;
}


.bottom_chev-reverse {
  animation: hideshow 2s 150ms ease-in-out infinite;

}


.middle_chev-reverse {

  animation: hideshow 2s 450ms ease-in-out infinite;
}

.top_chev-reverse {
  animation: hideshow 2s 750ms ease-in-out infinite;
}

@keyframes changeChevColor {
  0%, 100% {
    fill: #d40202;
  }
  50% {
    fill: #ffffff;
  }
}


@keyframes hideshow {
  0%, 100% {
    opacity: 1;
  }
  75%, 25% {
    opacity: 0.8%;
  }
  50% {
    opacity: 0
  }
}

.chev {
  fill: #7e7e7e;
}


.defaultpadding {
  padding: 10px;
}
