<form #signInFrom="ngForm" *ngIf="loginUser$ | async as loginUser" fxLayout="column" class="form-padding">
    <div>
        <div fxLayout="column">

            <mat-form-field fxFlex="100">
                <input [(ngModel)]="loginUser.username" class="cell" delayedFocus matInput name="email"
                       placeholder="Email"
                       required type="email">
            </mat-form-field>

            <mat-form-field fxFlex="100">
                <input [(ngModel)]="loginUser.password" class="cell" delayedFocus matInput name="password"
                       placeholder="Passwort"
                       required type="password">
            </mat-form-field>
        </div>


        <div fxLayout="row">
            <button (click)="clearForm()" [disabled]="signInFrom.invalid"
                    mat-icon-button
                    matTooltip="clear"
                    name="delete"
                    type="button"
            >
                <mat-icon>clear</mat-icon>
            </button>

            <button  (click)="signIn()" [disabled]="signInFrom.invalid"
                    mat-icon-button
                    matTooltip="continue"
                    name="delete"
                    type="button"
            >
                <mat-icon>check</mat-icon>
            </button>
        </div>

    </div>

</form>
